<%- include("partials/header")-%>
<h1>Home</h1>
<p><%= item %></p>
<%posts.forEach((post)=>{%>
    <h2><%=post.titleName%></h2>
    <p><%=post.descName.slice(0,101)+"..."%><a href="/posts/<%=post.titleName%>">Read More</a></p>
<%})%>
<%- include("partials/footer")-%>

